@page
@model Project_202.Pages.Fan.selectModel
@{
    ViewData["Title"] = "Team Selection page";
}
@{
    Layout = "~/Pages/Shared/_Layout_Fan.cshtml";
}


<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        margin:auto;
        margin-top: 50px;
    }

    .formlabel {
        font-size: 28px;
        color: royalblue;
        font-weight: 600;
        letter-spacing: -1px;
        margin:auto;
        
    }

    .submit {
        border: none;
        outline: none;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
    }

        .submit:hover {
            background-color: rgb(56, 90, 194);
        }
</style>

<!DOCTYPE html>

<html>
<head>
    <title class="title">TEAMS</title>
</head>
<body>
    <div>
        <form class="form" method="post">
            <label class="formlabel">Team</label>
            <input type="text" asp-for="@Model.team"></input>
            <input type="submit" class="submit" />
        </form>
    </div>
</body>
</html>