@page
@model Project_202.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Admin Home page";
}
@{
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
}


<body>
    <h1>Welcome Back @Model.name ! </h1>
</body>